*.swp
__pycache__
*.zip
.vscode
*.pt
*.pkl
*.egg-info
data/
.DS_Store
.codex
rt_all_data/
rt_results/
results_single/
experiments/
*scaled*.urdf
*scaled*.xml
nightly_data/
nightly_results/
demo_results/
demo_results_parallel/
*.pyc
demo_data/lafan/
converted_res/
data_utils/lafan1
*.sh
*.bvh
demo_results/
demo_results_etasp/
demo_results_first_order/
demo_results_first_order_etasp/
demo_results_first_order_no_trust_region/
demo_results_first_order_no_trust_region_etasp/
demo_results_laplacian_smooth/
demo_results_laplacian_smooth_etasp/
demo_results_laplacian_smooth_first_order/
demo_results_laplacian_smooth_first_order_etasp/
demo_results_laplacian_smooth_first_order_no_trust_region/
demo_results_laplacian_smooth_first_order_no_trust_region_etasp/
demo_results_laplacian_smooth_no_trust_region/
demo_results_laplacian_smooth_no_trust_region_etasp/
demo_results_no_trust_region_etasp/
demo_results_total/
demo_results_parallel/
